.obsidian/workspace
.obsidian/workspace2
.obsidian/workspace3
.obsidian/workspace4
.obsidian/workspace5
.obsidian/workspace6
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/graph.json