:root
{
    --prussian-blue:            #09283f;        /*itron color dark*/
    --prussian-blue-light1:     #0b304c;
    --prussian-blue-light2:     #0c3453;
    --prussian-blue-light3:     #0d3859;        
    --charcoal:                 #174559;        /*itron color medium*/
    --blue-sapphire-dark:       #1d5972;
    --blue-sapphire:            #2f6b84;        /*itron color medium*/

    --maximum-blue-purple:      #9aabfe;        /*used for links*/
    --iceburg:                  #83b0d8;        /*hover link*/

    --white:                    #ffffff;        /*white to sapphire*/
    --cultured:                 #f2f6f8;
    --alice-blue:               #e5edf0;
    --beau-blue:                #cbdae1;
    --pewter-blue:              #97b5c2;

}

.theme-dark
{
    --font-monospace: 'Hack Nerd Font', 'Source Code Pro', monospace;
    --background-primary:         var(--prussian-blue);
    --background-primary-alt:     var(--prussian-blue-light1);
    --background-secondary:       var(--prussian-blue-light2);
    --background-secondary-alt:   var(--prussian-blue-light3);
    --text-normal:                var(--white);
    --text-faint:                 var(--cultured);
    --text-title-h1:              var(--white);
    --text-title-h2:              var(--cultured);
    --text-title-h3:              var(--alice-blue);
    --text-title-h4:              var(--beau-blue);
    --text-title-h5:              var(--pewter-blue);
    --text-link:                  var(--maximum-blue-purple);
    --text-a:                     var(--maximum-blue-purple);
    --text-a-hover:               var(--iceburg);
    --text-mark:                  rgba(47, 107, 132, 0.4); /* blue sapphire */
    --pre-code:                   var(--blue-sapphire);
    --text-highlight-bg:          var();
    --interactive-accent:         var();
    --interactive-before:         var();
    --background-modifier-border: var();
    --text-accent:                var();
    --interactive-accent-rgb:     var();
    --inline-code:                var();
    --code-block:                 var();
    --vim-cursor:                 var();
    --text-selection:             rgba(, , , 0.4); 
}

.theme-light
{
    --background-primary:         var();
    --background-primary-alt:     var();
    --background-secondary:       var();
    --background-secondary-alt:   var();
    --text-normal:                var();
    --text-faint:                 var();
    --text-title-h1:              var();
    --text-title-h2:              var();
    --text-title-h3:              var();
    --text-title-h4:              var();
    --text-title-h5:              var();
    --text-link:                  var();
    --text-a:                     var();
    --text-a-hover:               var();
    --text-mark:                  rgba(, , , 0.4); 
    --pre-code:                   var();
    --text-highlight-bg:          var();
    --interactive-accent:         var();
    --interactive-before:         var();
    --background-modifier-border: var();
    --text-accent:                var();
    --interactive-accent-rgb:     var();
    --inline-code:                var();
    --vim-cursor:                 var();
    --text-selection:             rgba(, , , 0.5);
}

.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"]
{
    text-shadow: none !important;
    background-color: var(--pre-code) !important;
}

.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight
{
    color: var(--interactive-accent-rgb) !important;
}
.graph-view.color-text
{
    color: var(--text-a-hover) !important;
}
/*
.graph-view.color-fill
{
    color: var(--background-secondary);
}
.graph-view.color-line
{
  color: var(--background-modifier-border);
}
*/

html,
body
{
    font-size: 16px !important;
}

strong
{
    font-weight: 600 !important;
}

a,
.cm-hmd-internal-link
{
    color: var(--text-a) !important;
    text-decoration: none !important;
}

a:hover,
.cm-hmd-internal-link:hover,
.cm-url
{
    color: var(--text-a-hover) !important;
    text-decoration: none !important;
}

mark
{
    background-color: var(--text-mark) !important;
}

.view-actions a
{
    color: var(--text-normal) !important;
}

.view-actions a:hover
{
    color: var(--text-a) !important;
}

.HyperMD-codeblock-bg
{
    background-color: var(--pre-code) !important;
}

.HyperMD-codeblock
{
    line-height: 1.4em !important;
    color: var(--code-block) !important;
}

.HyperMD-codeblock-begin
{
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.HyperMD-codeblock-end
{
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

th
{
    font-weight: 600 !important;
}

thead
{
    border-bottom: 2px solid var(--background-modifier-border) !important;
}

.HyperMD-table-row
{
    line-height: normal !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    /* background-color: var(--pre-code) !important; */
}

.HyperMD-table-row-0
{
    /* padding-top: 4px !important; */
}

.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator
{
    color: var(--text-a) !important;
}

.nav-file-tag
{
    color: var(--text-a) !important;
}

.is-active .nav-file-title
{
    color: var(--text-a) !important;
    background-color: var(--background-primary-alt) !important;
}

.nav-file-title
{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

img
{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.HyperMD-list-line
{
    padding-top: 0 !important;
}

.CodeMirror-code,
.CodeMirror-linenumber,
.cm-formatting
{
    font-family: var(--font-monospace) !important;
    font-size: 0.9em;
}

.markdown-preview-section pre code,
.markdown-preview-section code
{
    font-size: 0.9em !important;
    background-color: var(--pre-code) !important;
}

.markdown-preview-section pre code
{
    padding: 4px !important;
    line-height: 1.4em !important;
    display: block !important;
    color: var(--code-block) !important;
}

.markdown-preview-section code
{
    color: var(--inline-code) !important;
}

.cm-s-obsidian,
.cm-inline-code
{
    -webkit-font-smoothing: auto !important;
}

.cm-inline-code
{
    color: var(--inline-code) !important;
    background-color: var(--pre-code) !important;
    padding: 1px !important;
}

.workspace-leaf-header-title
{
    font-weight: 600 !important;
}

.side-dock-title
{
    padding-top: 15px !important;
    font-size: 20px !important;
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover
{
    color: var(--text-a);
}

.side-dock
{
    border-right: 0 !important;
}

.cm-s-obsidian,
.markdown-preview-view
{
    /* padding-left: 10px !important; */
    padding-right: 10px !important;
}

/* vertical resize-handle */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle
{
    width: 1px !important;
    background-color: var(--background-secondary-alt);
}

/* horizontal resize-handle */
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle
{
    height: 1px !important;
    background-color: var(--background-secondary-alt);
}

/* Remove vertical split padding */
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs
{
    padding-right: 0px;
}

.markdown-embed-title
{
    font-weight: 700 !important;
}

.markdown-embed
{
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.cm-header-1,
.markdown-preview-section h1
{
    font-weight: 500 !important;
    font-size: 34px !important;
    color: var(--text-title-h1) !important;
}

.cm-header-2,
.markdown-preview-section h2
{
    font-weight: 500 !important;
    font-size: 26px !important;
    color: var(--text-title-h2) !important;
}

.cm-header-3,
.markdown-preview-section h3
{
    font-weight: 500 !important;
    font-size: 22px !important;
    color: var(--text-title-h3) !important;
}

.cm-header-4,
.markdown-preview-section h4
{
    font-weight: 500 !important;
    font-size: 20px !important;
    color: var(--text-title-h4) !important;
}

.cm-header-5,
.cm-header-6,
.markdown-preview-section h5,
.markdown-preview-section h6
{
    font-weight: 500 !important;
    font-size: 18px !important;
    color: var(--text-title-h5) !important;
}

.suggestion-item.is-selected
{
    background-color: var(--background-secondary);
}

.empty-state-container:hover
{
    background-color: var(--background-secondary-alt);
    border: 5px solid var(--interactive-accent) !important;
}

.checkbox-container
{
    background-color: var(--interactive-before);
}

.checkbox-container:after
{
    background-color: var(--background-secondary-alt);
}

.mod-cta
{
    color: var(--background-secondary-alt) !important;
    font-weight: 600 !important;
}

.mod-cta a
{
    color: var(--background-secondary-alt) !important;
    font-weight: 600 !important;
}

.mod-cta:hover
{
    background-color: var(--interactive-before) !important;
    font-weight: 600 !important;
}

.CodeMirror-cursor
{
    background-color: var(--vim-cursor) !important;
    opacity: 60% !important;
}

input.task-list-item-checkbox {
    border: 1px solid var(--dark4);
    appearance: none;
    -webkit-appearance: none;
}

input.task-list-item-checkbox:checked
{
    background-color: var(--dark4);
    box-shadow: inset 0 0 0 2px var(--background-primary);
}

::selection
{
    background-color: var(--text-selection) !important;
}

.mermaid .note
{
    fill: var(--dark3) !important;
}

